@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.GradVM
    <link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
    @{
        ViewData["index"] = "ADMIN";
        ViewData["ImePrezime"] = TempData["ImePrezime"];
    }

    <partial name="Upozorenja" view-data="ViewData" />

    <form method="post" asp-action="Create">
        <div class="card p-3 mt-5" style="margin-top:30px!important;     margin: 0 auto;   max-width: 850px !important; justify-content:center!important;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <a asp-action="Index"><i class="fas fa-arrow-left" style="justify-content:right; text-align:right; width:min-content; font-size:26px; "></i></a>
            <div class="form-group row" style="margin-top:20px;">
                <h2 class="text-info formTitle"> Dodaj novi grad</h2>
            </div>
           
                <div class="col-10 createRow">
                    <div class="form-group row" style="margin-left:15px;">
                        <div class="col-4 colLabel">
                            <label asp-for="Naziv"></label>
                        </div>
                        <div class="col-8 colInput">
                            <input asp-for="Naziv" class="form-control" required="required" />
                            <span asp-validation-for="Naziv" class="text-danger"></span>
                        </div>
                        <div class="col-4 colLabel">
                            <label asp-for="Oznaka"></label>
                        </div>
                        <div class="col-8 colInput">
                            <input asp-for="Oznaka" class="form-control" required="required" />
                            <span asp-validation-for="Oznaka" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-group row">

                        <div style="justify-content:right;    text-align: right; margin-right:15%">
                            <input type="submit" class="btn btn-success" style="justify-content:center!important; text-align:center!important; width:min-content;" value="Dodaj" />
                        </div>



                    </div>
                </div>
            </div>
      

    </form>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
        <script>
            function InvalidMsg(textbox) {

                if (textbox.value === '') {
                    textbox.setCustomValidity
                        ('Unos modela je obavezan!');
                }
                return true;
            }
        </script>
    }
