a {
    text-decoration: none;
}

nav {
    width:100%;
}
#pagination {
    color: #fff !important;
    justify-content: center !important;
}
ul.pagination {
    color: #fff !important;
    background: #fff !important;
    justify-content: center !important;
}
#navbarSupportedContent {
    align-content: center;
    padding-left: 10%;
    background: #2973b2;
}
.navbar-brand {
    font-size: x-large;
    font-stretch: semi-condensed;
    background: #2973b2;
    margin-left: 5%;
    color: white !important;
}

.nav-link {
    color: white !important;
}
.navbar {
    width: 100%;
    background: #2973b2;
    font-size: 19px;
}
.nav.navbar.navbar-expand-lg navbar-light {
    background: #2973b2;
}


.navbar-nav mr-auto {
    background: #2973b2;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.nav-item active {
    color: #fff;
    background: #2981B2;
    display: block;
    float: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

    li a {
        color: #fff;
    }

    li:hover {
        cursor: pointer;
        font-weight: 500;
    }

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        font-weight: 500;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }
