@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.OrgJedinicaVM
@{
    ViewData["index"] = "ADMIN";
}
<partial name="Upozorenja" view-data="ViewData" />
<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
<form method="post" asp-action="Create">

    <div class="card p-3 mt-5" style="margin-top:30px!important;     margin: 0 auto;   max-width: 850px !important; justify-content:center!important;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <a asp-controller="OrganizacijskaJedinica" asp-action="Index"><i class="fas fa-arrow-left" style="justify-content:right; text-align:right; width:min-content; font-size:26px; "></i></a>
        <div class="form-group row">
            <h2 class="text-info formTitle"> Dodaj novu organizacijsku jedinicu</h2>
        </div>
        <div class="row">
            <div class="col-10 createRow">
                <div class="form-group row">
                    <div class="col-4 colLabel">
                        <label asp-for="Naziv"></label>
                    </div>
                    <div class="col-8 colInput">
                        <input asp-for="Naziv" class="form-control" required />
                        <span asp-validation-for="Naziv" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">


                    <div style="justify-content:right;    text-align: right; margin-right:15%">
                        <input type="submit" class="btn btn-success" style="justify-content:center!important; text-align:center!important; width:min-content;" value=" Dodaj" />
                    </div>





                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
