@model AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.LokacijaORgJedinicaVM

<partial name="Upozorenja" view-data="ViewData" />
@{


    ViewData["index"] = "ADMIN";
    var orgJedID = 0;
    if (TempData["OrgJedID"] != null)
    {
        orgJedID = (int)(TempData["OrgJedID"]);
    }
    else
        orgJedID = 0;


}
<form method="post" asp-action="DodajLokacije">

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">

            <h2 class="text-info pl-3"> Dodaj lokacije u organizacijsku jedinicu</h2>

        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Adresa">Adresa</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Adresa" asp-items="@Model.Adrese" required>
                        </select>
                        <span asp-validation-for="Adresa" class="text-danger"></span>
                    </div>
                  
                   


                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value=" Dodaj" />
                        </div>
                        @if ((int)orgJedID != 0)
                        {
                            <div class="col">
                                <a  asp-controller="Lokacija" asp-action="Index" asp-route-orgJedID="@orgJedID" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i></a>

                            </div>
                        }
                        else
                        {
                            <div class="col">
                                <a asp-action="Index" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i> </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
