@model IEnumerable<AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.TipLaptopaVM>

<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
@{
    ViewData["index"] = "ADMIN";
    
}

    <div class="card p-3 mt-5" style=" overflow-x: auto;">
            <div class="col-12 formTitle">
                <h2 class="formTitle" style="text-align:center !important;">Popis modela laptopa</h2>
            </div>

       
            <a style="text-align:right !important" asp-controller="TipLaptopa" asp-action="Create">
                <i class="fas fa-plus" style=" color: #2973b2 !important;"></i> 
            </a>
       

        @if (Model != null && Model.Count() > 0)
        {
            <table class="table tableCss table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Model
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td id="items" width="80%">@obj.Model</td>
                            <td class="text-center">
                                <div class="w-30 btn-group" role="group">
                                    <a asp-controller="TipLaptopa" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary "><i class="fas fa-edit"></i></a>
                                    <a asp-controller="TipLaptopa" asp-route-Id="@obj.Id" onclick="return confirm('Jeste li sigurni da želite obrisati?')" asp-action="Delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Ne postoji niti jedan tip laptopa!</p>
        }
    </div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}