@model IEnumerable<AplikacijaDijeljenihRadnihMjesta.Models.ViewModel.TipLaptopaVM>

<link rel="stylesheet" type="text/css" href="~/css/Stranica.css" media="screen" 7 />
@{
    ViewData["index"] = "ADMIN";
    
}
<body>
    <div class="container p-3">
        <div id="title" class="row pt-4">
            <div class="col-12">
                <h2>Popis modela laptopa</h2>
            </div>

        </div>
        <div class="col-12 text-right ">
            <a style="float:right;" asp-controller="TipLaptopa" asp-action="Create">
                <i class="fas fa-plus"></i> &nbsp;
            </a>
        </div>

        @if (Model != null && Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Model
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td id="items" width="80%">@obj.Model</td>
                            <td class="text-center">
                                <div class="w-30 btn-group" role="group">
                                    <a asp-controller="TipLaptopa" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary "><i class="fas fa-edit"></i></a>
                                    <a asp-controller="TipLaptopa" asp-route-Id="@obj.Id" onclick="return confirm('Jeste li sigurni da želite obrisati?')" asp-action="Delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Ne postoji niti jedan tip laptopa!</p>
        }
    </div>
</body>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}